.time-block {
    position: relative;
    height: 500px;
    padding-right: 10rem;
    box-sizing: border-box;
  }
  
  .hour-line,
  .half-hour-line {
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
  }
  
  .hour-line {
    background-color: black;
  }
  
  .hour-label {
    position: absolute;
    left: -5rem;
    margin-left: 5px;
  }
  
  .half-hour-line {
    background-color: black;
    border-style: dashed;
  }
  